<div class="navdrawer navdrawer-right" id="navdrawer" tabindex="-1">
	<div class="navdrawer-content">
		<ul class="list-group list-group-flush">		
			<div id="logo"><img src="../public/assets/logo-full-white.png"/></div>
			<li class="list-group-item list-group-item-action">
				<span class="material-symbols-outlined icon">home</span>
				<span class="text">Home</span>
			</li>
			<li class="list-group-item list-group-item-action">
				<span class="material-symbols-outlined icon">person</span>
				<span class="text">My Account</span>
			</li>
			<li class="list-group-item list-group-item-action text-danger" id="logoutBtn">
				<span class="material-symbols-outlined icon">logout</span>
				<span class="text">Logout</span>
			</li>
		</ul>
	</div>	
</div>